
    <style>
        td{
            width: 4px;
            height: 4px;

        }
        .View{
            background: #eefff2;
        }
        .SnakeHead{
            background: #6253ff;
        }
        .Snake{
            background: red;
        }
        .Wall{
            background: black;
        }
        .Foods{
            background: #38ff2e;
        }
    </style>
    <script src="/assets/test/jquery-3.3.1.js"></script>
    <script src="/assets/test/game.js"></script>
<table border="0.1">

</table>
<button >停止</button>
<p></p>
